body {
    background: linear-gradient(90deg, #1b0f24, #3f2455);
    color: whitesmoke;
}

/*splash1-start*/
.splash-container{
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 95%;
    width: 95%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 1;
    transition: all ease-in-out 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.splash-container.hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 500ms;
}

.splash-header{
    color: whitesmoke;
    text-align: center;
}

.splash-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#goalinput{
    padding: 10px;
    width: 50%;
    font-size: 16px;
}


.click{
    padding: 10px 10px;
    background-color: #3f2455;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.click:hover{
    background-color: #1b0f24;
}

/*splash1-end*/

/*splash2-start*/
.splash-2{
    cursor: pointer;
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    height: 95%;
    width: 95%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0;
    transition: all ease-in-out 500ms;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9998;
}

.splash-2.active{
    opacity: 1;
    display: flex;
    pointer-events: all;
}
.splash-content-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    text-align: center;
}
.splash-content-2.hidden{
    display: none;
    opacity: 0;
    pointer-events: none;
}
.nameform{
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
.nameform.visible{
    opacity: 1;
    display: flex;
    pointer-events: all;
}
#playerinput{
    padding: 10px;
    width: 65%;
    font-size: 16px;
}

.player-name-input{
    padding: 10px;
    width: 65%;
    font-size: 16px;
}

.game-content{
    display: none;
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
}

.game-content.visible{
    display: block;
}
/*splash2-end*/

.dice-container{
    display: flex;
    text-align: center;
    margin: 0px 50px;
}
img{
    width: 320px;
}